header{background-color: rgba(128, 128, 128, 0.264);
       position: relative ;
       width: 1420px;
       margin-left: -5px;}


ul{list-style-type: none;
    display: flex;
    padding: auto;
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Oswald', sans-serif;}

.link_nav{color: black;}

.portada{height: 100vh;
  background-image: url(../assets/portada.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  }


    

.title{text-align: center;
  font-family: 'Bungee Spice', cursive;
  }

.slogan{text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 24px;}

nav{background: linear-gradient(to left ,black, orange);}

.logo{display: flex;
      padding: auto;
      justify-content: center;}

      .tarjeta {
        border: 2px solid black;
        width: 300px;
        height: 350px;
        border-radius: 20px;
        padding: 15px;
        background-color: white;
        font-family: 'Oswald', sans-serif;
        text-decoration: underline;
        
      
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
      
      .boton {
        border: 2px solid crimson;
        background-color: crimson;
        color: white;
        border-radius: 10px;
        padding: 10px 15px;
      }
      
      .boton:hover {
        border: 2px solid crimson;
        background-color: white;
        color: crimson;
      }

      

      .productos{display: flex;
                justify-content: space-around;
              
                }

      .nav-item{border: 2px solid rgba(182, 168, 9, 0.55);
                background-color: rgba(200, 141, 32, 0.514);
                color: white;
                border-radius: 10px;
                padding: 10px 15px;
                }

      .section1{height: 45vh;
                margin-left: 5%;
        
                display: grid;
                grid-template-columns: 1fr 1fr;
                }

      .imgsection1{margin-left: 20%;
                   margin-top: -5%;
                   margin-bottom: -5%;}
      
      .imgsection2{margin-left: 20%;}
      
      .marcassection2{margin-left: 6%;}

      .cafem{margin-left: -6%;}

      .section2{height: 55vh;
                margin-left: 5%;
        
                display: grid;
                grid-template-columns: 1fr 1fr;}
      
      .preguntas{margin-left: 10%;
        
                  font-family: 'Oswald', sans-serif;}
      
      .textos{margin-left: 10%;
        
              font-family: 'Indie Flower', cursive;}   
                

      .prefooter{
                font-family: 'Oswald', sans-serif;
                }

      .textoabajo{text-align: center;
                 
                  }

      footer{background-color: rgba(128, 128, 128, 0.264);
             position: relative ;
             width: 1430px;
             margin-left: -5px;}

                /* Contacto html */
      .title{text-align: center;}

      .title3{text-align: center;}

      form{ border: 2px solid black;
            border-radius: 100px;
            width: 350px;
            align-items: center;
            display: flex ;
            flex-flow: column;
            justify-content: center;
          }

      form input{border: solid 2px;}

      .borderform{display: flex;
                  justify-content: center;
                  align-items: center;}

      .icon_footer{color: black;}

      /* --- Nosotros ---- */


    .seccion1{display: flex;
              justify-content: space-around;
              }

    .h2nosotros{display: flex;
                text-align: start;
                margin-left: 70px;}

    .foto_nosotros{ margin-top: -13%;
                    margin-right: 1%;
                    float: left;}

    .textosnosotros{gap: 20%;
                    
                    font-family: 'Indie Flower', cursive;}          

      /* --- Mobile ---  */

      @media (max-width: 375px) {

              
              header{width: 110% ;}
              
              ul{display: flex;
                     
                     padding: 5px 20px ;
                     margin-right: 5%; }
              
              .nav-item{border-radius: 5px;
                        padding: 5px 10px;}
                      
              .productos{margin-left: 79%;
                         display: flex;
                         gap: 10%;
                         flex-direction: row;
                         width: 9%;}
                        
              .slider{overflow: auto;}

              .preguntas{margin-right: 40%;
                         margin-left: 0%;}
                        
              
              .section1{height: 90vh;
                        ;}
                      
              .textos{margin-right: 20%;
                      margin-left: 0%;}  
            
               footer{width: 105%;
                    margin-top: 125%;}
                  
                .imgsection1{width: 150px;
                             height: 150px;
                            margin-right: 20%;
                            margin-left: 0%;}
                          
                .imgsection2{width: 130px;
                             height: 130px;
                             margin-left: 0%;
                             margin-right: 40%;
                             }
                          }

        /* --- Nosotros Mobile --- */

        @media (max-width: 375px) {

              
          header{width: 110% ;}
          
          ul{display: flex;
                 
                 padding: 5px 20px ;
                 margin-right: 5%; }
                
          .footer_nosotros{width: 105%;
           margin-top: 15%;
           }
          
          .foto_nosotros{width: 150px;
                         height: 150px;}}




      /* --- Animaciones --- */

      .img_productos{transition-duration: 1s;}

      .img_productos:hover{transform: rotate(15deg);}

      .slogan{animation-name: slogan;
                   animation-duration: 3s;
                   animation-iteration-count: infinite;
                   animation-timing-function: linear;}

      @keyframes slogan {

        0%{transform: rotate(0deg);}

        20%{transform: rotate(2deg);}

        40%{transform: rotate(0deg);}

        60%{transform: rotate(-2deg);}

        100%{transform: rotate(0deg);}
        
      }  


              
              
              
              

              