header{background-color: rgba(128, 128, 128, 0.264);
    position: relative ;
    width: 1420px;
    margin-left: 5px;}

.logo{width: 120px;
   height: 120px;
 
   margin-left: 46%;}


ul{list-style-type: none;
 display: flex;
 padding: auto;
 justify-content: space-around;
 text-decoration: none;
 list-style-type: none;
 font-family: 'Oswald', sans-serif;}

.link_nav{color: black;
       text-decoration: none;}

.nav-item{color: black;
       text-decoration: none;}

.portada{height: 90vh;
background-image: url(../assets/portada.jpeg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed;
}
 

 

.title{text-align: center;
font-family: 'Bungee Spice', cursive;
}

.slogan{text-align: center;
 font-family: 'Acme', sans-serif;
 font-size: 24px;}

nav{background: linear-gradient(to left ,black, orange);}



   .tarjeta {
     border: 2px solid black;
     width: 300px;
     height: 350px;
     border-radius: 20px;
     padding: 15px;
     background-color: white;
     font-family: 'Oswald', sans-serif;
     text-decoration: underline;
     
   
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
   }
   
   .boton {
     border: 2px solid crimson;
     background-color: crimson;
     color: white;
     border-radius: 10px;
     padding: 10px 15px;
   }
   
   .boton:hover {
     border: 2px solid crimson;
     background-color: white;
     color: crimson;
   }

   .img_productos{width: 200px;
                  height: 200px;}

   .capsula_productos{margin-bottom: -40px;
                      margin-top: 20px;
                      margin-left: 40px;
                      width: 240px;
                      height: 200px;}
   

   .productos{display: flex;
             justify-content: space-around;
           
             }

   .nav-item{border: 2px solid rgba(182, 168, 9, 0.55);
             background-color: rgba(200, 141, 32, 0.514);
             color: white;
             border-radius: 10px;
             padding: 10px 15px;
             }

   .section1{height: 40vh;
             margin-left: 5%;
     
             display: grid;
             grid-template-columns: 1fr 1fr;
             }

   .imgsection1{margin-left: 20%;
                margin-top: -5%;
                margin-bottom: -5%;}
   
   .imgsection2{width: 150px;
     
                 margin-left: 20%;}
   
   .marcassection2{margin-left: 6%;}

   .cafem{width: 283px;}

   .cafem{margin-left: -6%;}

   .section2{height: 43vh;
             margin-left: 5%;
     
             display: grid;
             grid-template-columns: 1fr 1fr;}
   
   .preguntas{margin-left: 10%;
     
               font-family: 'Oswald', sans-serif;}
   
   .textos{margin-left: 10%;
     
           font-family: 'Indie Flower', cursive;}   
             

   .prefooter{
             font-family: 'Oswald', sans-serif;
             }

   .textoabajo{text-align: center;
              
               }

   footer{background-color: rgba(128, 128, 128, 0.264);
          position: relative ;
          width: 1430px;
          margin-left: -5px;}

             /* Contacto html */
   .title{text-align: center;}

   .title3{text-align: center;}

   form{ border: 2px solid black;
         border-radius: 100px;
         width: 350px;
         align-items: center;
         display: flex ;
         flex-flow: column;
         justify-content: center;
       }

   form input{border: solid 2px;}

   .borderform{display: flex;
               justify-content: center;
               align-items: center;}

   .icon_footer{color: black;}