@media (max-width: 375px) {

           
    header{width: 110% ;}
    
    ul{display: flex;
           
           padding: 5px 20px ;
           margin-right: 5%; }
          
    .footer_nosotros{width: 105%;
     margin-top: 15%;
     }
    
    .foto_nosotros{width: 150px;
                   height: 150px;}}