.seccion1{display: flex;
    justify-content: space-around;
    }

.h2nosotros{display: flex;
      text-align: start;
      margin-left: 70px;}

.foto_nosotros{ margin-top: -13%;
          margin-right: 1%;
          float: left;}

.textosnosotros{gap: 20%;
          
          font-family: 'Indie Flower', cursive;} 