.prefooter{
    font-family: 'Oswald', sans-serif;
    }

.textoabajo{text-align: center;
     
      }

footer{background-color: rgba(128, 128, 128, 0.264);
 position: relative ;
 width: 1430px;
 margin-left: -5px;}

    /* Contacto html */
.title{text-align: center;}

.title3{text-align: center;}

form{ border: 2px solid black;
border-radius: 100px;
width: 350px;
align-items: center;
display: flex ;
flex-flow: column;
justify-content: center;
}

form input{border: solid 2px;}

.borderform{display: flex;
      justify-content: center;
      align-items: center;}

.icon_footer{color: black;}