.section1{height: 40vh;
    margin-left: 5%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    }
    
    .section2{height: 43vh;
        margin-left: 5%;

        display: grid;
        grid-template-columns: 1fr 1fr;}
    

