
   .img_productos{width: 200px;
    height: 200px;}

.capsula_productos{margin-bottom: -40px;
        margin-top: 20px;
        margin-left: 40px;
        width: 240px;
        height: 200px;}


.productos{display: flex;
justify-content: space-around;

}

.imgsection1{margin-left: 20%;
    margin-top: -5%;
    margin-bottom: -5%;}

.imgsection2{width: 150px;

     margin-left: 20%;}

.marcassection2{margin-left: 6%;}

.cafem{width: 283px;}

.cafem{margin-left: -6%;}

.preguntas{margin-left: 10%;

   font-family: 'Oswald', sans-serif;}

.textos{margin-left: 10%;

font-family: 'Indie Flower', cursive;}  