.boton {
    border: 2px solid crimson;
    background-color: crimson;
    color: white;
    border-radius: 10px;
    padding: 10px 15px;
  }
  
  .boton:hover {
    border: 2px solid crimson;
    background-color: white;
    color: crimson;}